# dot folders
.cache/
.idea/
.vs/
.vscode/
.xmake/

# folders
build/
vs*/

# files
*.zip
compile_commands.json
/src/PrismaUI_API.h
/Data/SKSE/Plugins/SpellGems.ini
/src/PrismaUI_API.h
/src/PrismaUI_API.h
/src/PrismaUI_API.h
/src/PrismaUI_API.h
